{% extends 'home/base.html' %}
{% block content %}
<div class="card-body-main">
  <h2 class="description-titulo">Disciplinas</h2>
  <a href='{% url 'disciplinas_add' %}'>Criar</a>
</div>
    <div class="card-body">
        <!-- table -->
        <table class=" datatables tabelas-row " style="width:100%" id="dataTable-4">
            <thead >
                <tr >
                    <th class="col-1" style="color: #000">ID</th>
                    <th class="col-9" style="color: #000">Disciplinas</th>
                    <th class="col-2" style="color: #000"></th>
                </tr>
            </thead>
            <tbody>
              {% for disciplina in disciplina %}
              <tr>
                <td>
                  <a class="link-table" href="" id="infoTabela">{{ disciplina.id }}</a>
                </td>
                <td style="text-align:left; padding-left:1rem">
                  <a class="link-table" href="" id="infoTabela">{{ disciplina.nome }}</a>
                </td>
                <td>
                  <div class="icons-action">
                    <a class="link-action" href="{% url "disciplinas_alter" disciplina.id %}">
                      <span class="material-icons icons-action-size" >edit</span>
                    </a>
                    <form method="POST" action="{% url "disciplinas_id" disciplina.id %}">
                      {% csrf_token %}
                      <button type='submit' class="link-action">
                        <span class="material-icons icons-action-size" >delete</span>
                      </button>
                    </form>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table> 
      </div>
{% endblock %}