{% extends 'home/base.html' %}
{% block content %}
    <div class="add-forms">
        <form method="POST" action={% url "professor_add" %}>
            {% csrf_token %}
            <label for="simple-select form-label"> Instituição</label>
            <select class="form-control mb-3" name="instituicao" id="simple-select" required>
                <option value=""></option>  
                {% for instituicao in instituicao %}
                <option value="{{ instituicao.id }}">
                    {{ instituicao.nome }}
                </option>
                {% endfor %}     
            </select>
            <label for="simple-select form-label">Professor</label>
            <select class="form-control mb-3" name="user" id="simple-select1" required>
                <option value=""></option>  
                {% for user in user %}
                <option value="{{ user.id }}">
                    {{ user.username }}
                </option>
                {% endfor %}     
            </select>
            <label for="especializacao">Especialização</label>
            <input class="form-control" id="especializacao" name="especializacao" type="text" placeholder="Doutorado">
            <button class="btn btn-primary mt-3">Salvar</button>
        </form>
    </div>
{% endblock %}