{% extends 'home/base.html' %}
{% block content %}
    <div class="card-body-main">
      <h2 class="description-titulo">Professores</h2>
      <a href="{% url 'professor_add' %}">Criar</a>
    </div>
    <div class="card-body">
        <!-- table -->
        <table class="table datatables tabelas-row " style="width:100%" id="dataTable-4">
            <thead >
                <tr >
                    <th class="col-0" style="color: #000">ID</th>
                    <th class="col-4" style="color: #000">Professores</th>
                    <th class="col-2" style="color: #000">Especialização</th>
                    <th class="col-2" style="color: #000"></th>
                </tr>
            </thead>
            <tbody>
              {% for professor in professor %}
              <tr>
                <td>
                  <a class="link-table" href="" id="infoTabela">{{ professor.id }}</a>
                </td>
                <td style="text-align:left; padding-left:1rem">
                  <a class="link-table" href="" id="infoTabela">{{ professor.user.first_name }}</a>
                </td>
                <td style="text-align:left; padding-left:1rem">
                  <a class="link-table" href="" id="infoTabela">{{ professor.especializacao }}</a>
                </td>
                <td>
                  <div class="icons-action">
                    <a class="link-action" href="{% url "professor_alter" professor.id %}">
                      <span class="material-icons icons-action-size" >edit</span>
                    </a>
                    <form method="POST" action="{% url "professor_id" professor.id %}">
                      {% csrf_token %}
                      <button type='submit' class="link-action">
                        <span class="material-icons icons-action-size" >delete</span>
                      </button>
                    </form>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table> 
      </div>
{% endblock %}