{% extends 'home/base.html' %}
{% block content %}
    <div class="add-forms">
        <form method="POST" action={% url "professor_alter" professor.id %}>
            {% csrf_token %}
            <select class="form-control" name="instituicao" id="simple-select1" required>
                <option value={{ professor.instituicao.id }} selected>{{ professor.instituicao }}</option>  
                {% for instituicao in instituicao %}
                <option value="{{ instituicao.id }}">
                    {{ instituicao.nome }}
                </option>
                {% endfor %}     
            </select>
            <select class="form-control" name="user" id="simple-select1" required>
                <option value={{ professor.user.id }} selected>{{ professor.user }}</option>  
                {% for user in user %}
                <option value="{{ user.id }}">
                    {{ user.username }}
                </option>
                {% endfor %}     
            </select>
            <label for="especializacao">Especialização</label>
            <input id="especializacao" name="especializacao" type="text" value={{ professor.especializacao }}>
            <button>Salvar</button>
        </form>
    </div>
{% endblock %}