{% extends 'home/base.html' %}
{% block content %}
<div class="card-body-main">
  <h2 class="description-titulo">Turmas</h2>
  <a href='./salva_funcao'>Criar</a>
</div>
    <div class="card-body">
        <!-- table -->
        <table class=" datatables tabelas-row " style="width:100%" id="dataTable-4">
            <thead >
                <tr >
                    <th class="col-0" style="color: #000">ID</th>
                    <th class="col-2" style="color: #000">Disciplinas</th>
                    <th class="col-4" style="color: #000">Professores</th>
                    <th class="col-2" style="color: #000">Especialização</th>
                    <th class="col-2" style="color: #000"></th>
                </tr>
            </thead>
            <tbody>
              {% for professor in professor %}
              <tr>
                <td>
                  <a class="link-table" href="" id="infoTabela">{{ professor.id }}</a>
                </td>
                <td style="text-align:left; padding-left:1rem">
                  <a class="link-table" href="" id="infoTabela">{{ professor.disciplinas }}</a>
                </td>
                <td style="text-align:left; padding-left:1rem">
                  <a class="link-table" href="" id="infoTabela">{{ professor.user.first_name }}</a>
                </td>
                <td style="text-align:left; padding-left:1rem">
                  <a class="link-table" href="" id="infoTabela">{{ professor.especializacao }}</a>
                </td>
                <td>
                  <div class="icons-action">
                    <a class="link-action" href="">
                      <span class="material-icons icons-action-size" >edit</span>
                    </a>
                    <a class="link-action" href="">
                      <span class="material-icons icons-action-size" >delete</span>
                    </a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table> 
      </div>
{% endblock %}